@model IEnumerable<ConsumindoAPI.Models.AtletaViewModel>

@{
    ViewBag.Title = "Goleiros";
}

<h2>Goleiros</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_clube)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jogos_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scout.DD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scout.GS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.media)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_clube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jogos_num)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Scout.DD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scout.GS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.media)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_id)
        </td>
    </tr>
}

</table>
