@model IEnumerable<ConsumindoAPI.Models.GoleiroViewModel>

@{
    ViewBag.Title = "Goleiros";
}

<h2>Goleiros</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posicao_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jogos_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.media)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posicao_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jogos_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.media)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.atleta_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.atleta_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.atleta_id })
        </td>*@
    </tr>
}

</table>
