@model IEnumerable<ConsumindoAPI.Models.AtletaViewModel>

@{
    ViewBag.Title = "Zagueiros";
}

<h2>Zagueiros</h2>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.apelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome_clube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jogos_num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.media)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco_num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scout.RB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scout.PE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scout.FC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scout.FS)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.apelido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome_clube)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jogos_num)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.media)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preco_num)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scout.RB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scout.PE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scout.FC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scout.FS)
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}