@model IEnumerable<ConsumindoAPI.Models.AtletaViewModel>

@{
    ViewBag.Title = "Zagueiros";
}

<h2>Zagueiros</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jogos_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scout.RB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scout.PE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scout.FC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scout.FS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.media)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jogos_num)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Scout.RB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scout.PE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scout.FC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scout.FS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.media)
            </td>
        </tr>
    }

</table>
