@model IEnumerable<ConsumindoAPI.Models.PartidaViewModel>

@{
    ViewBag.Title = "Partidas";
}

<h2>Partidas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clube_casa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clube_casa_gols)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.clube_visitante_gols)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clube_visitante)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clube_casa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clube_casa_gols)
        </td>
        <th>X</th>
        <td>
            @Html.DisplayFor(modelItem => item.clube_visitante_gols)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clube_visitante)
        </td>

    </tr>
}
</table>
